<div class="grid-friends">
  <% @profiles.each do |profile| %>
    <%= link_to profile_path(profile), class: 'profile-link' do %>
      <div class="profile-card">
        <%= cl_image_tag(profile.profile_avatar, class:'avatar')%>
        <%= profile.username %><br>
        <%= profile.location %>
      </div>
    <% end %>
  <% end %>
</div>
