
  <div class="title">
    <h1 class="title-header">Friends</h1>
    <p class="hover-underline-animation"></p>
  </div>

  <div class="grid-friends">
    <% @profiles.each do |profile| %>
      <%= link_to profile_path(profile), class: 'profile-link' do %>
        <div class="profile-card">
          <%= cl_image_tag(profile.profile_avatar, class: 'avatar')%>
          <%= profile.username %>
        </div>
      <% end %>
    <% end %>
  </div>

