<div>
  <div class="header-container">
    <h1 class="title-header">Friends</h1>
    <p class="hover-underline-animation"></p>
  </div>
  <!-- display your moments and the moments that have been directly shared to you -->
  <div class="layout__index-friends-page">
    <div class="container-friends">
      <div class="container-friends-header"></div>
    </div>
  </div>
</div>

<%= @profiles.each do |profile| %>
  <%= profile.username %>
<% end %>
