

<%-# here a profile is displayed  -%>
<%-# if the record.user == user display edit options if not its just a view of the person using it -%>

<div class="avatar-square-profile">

</div>

<h1>Katja Karpac</h1>

