<!-- // ======================================================= //

// >>>>>>>>>>>>>>>>>>>  _BUTTON  <<<<<<<<<<<<<<<<<<<  //

// ====================================================== // -->

<!-- Button with gradient tracking -->

<button class="mouse-tracking">
  <span>Moment</span>
</button>
