<!-- // ======================================================= //
// >>>>>>>>>>>>>>>>>>>  _BUTTON  <<<<<<<<<<<<<<<<<<<  //
// ====================================================== // -->

<!-- Button with gradient tracking -->

<button class="mouse-cursor-gradient-tracking">
  <span>Moment</span>
</button>
