<div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <button class="ui icon button"><i class="edit outline icon"></i></button>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <button class="ui icon button"><i class="sign-out icon"></i></button>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <button class="mouse-tracking">Moment</button>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">

        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">

        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">

        </div>
    </div>
</div>
