// OVERALL GRID
.layout-primary {
  display: grid;
  grid-template-columns: 115px 1fr;
  height: 100vh;
  background-color: #F7F5EE;

  &-active{
    grid-template-columns: 180px 1fr;
  }
}
// PROFILE__EDIT, EVENT__EDIT, PROFILE__CREATE, EVENT__CREATE //
.layout__edit__create-page {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

// EVENTS__INDEX, FRIENDS__INDEX__MOMENTS_INDEX //

.layout__index-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.layout__index-moments-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
