// OVERALL GRID
.layout-primary {
  display: grid;
  grid-template-columns: 115px 1fr;
  height: 100vh;
}
//
.profile__edit-page {
  display: grid;
  grid-template-rows: 1fer 1fr;
}

.profile__show {
  display: grid;
  grid-template-rows: 1fer 1fr;
}
