// // OVERALL GRID
// .layout-primary {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   height: 100vh;
//   width: 100vw;
//   background-color: black;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
// }
// PROFILE__EDIT, EVENT__EDIT, PROFILE__CREATE, EVENT__CREATE //

#content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw; /* Need a specific value to work */
  background-color: black;
}
