// Specific CSS for your home-page

// ======================== > > Devise/registrations#new

// ======================== > > Devise/sesionsa#new
.home-page {
  display: flex;
}
.grid-centering {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  width: 100%;
}

.title-text {
  font-family: Rationale;
  font-weight: normal;
  font-size: 30px;
}
.title-underline {
  width: 90px;
  height: 7px;
  background: linear-gradient(270deg, #EE6E79 7.16%, #6DC142 100%);
}

// ======================================== > Profiles#edit

.profile__edit-page {
  display: grid;
  grid-template-rows: 1fer 1fr;
}
.header-container {
  font-family: Rationale;
  margin-top: 61px;
  margin-left: 100px;
  margin-bottom: 117px;
}
.title-header,
.sub-title {
  font-family: Rationale;
}
.title-header {
  font-size: 60px;
}
.sub-title {
  font-size: 30px;
}
.underline {
  width: 405px;
  height: 10px;
  background: #F1B042;
}

.container {

}
.uk-input {
  display: inline-block;
}
// ======================================== > Profiles#show
.profile-banner {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  width: 100%;
  height: 306px;
}

.profile-information {
  display: flex;

  .personal-info {
    padding: 0 20px;
  }
}

.username {
  font-family: Scada;
  font-weight: 400;
  font-size: 80px;
}
.dob-user {

}
.loc-user {

}

.overflow-scroll-gradient {
  position: relative;
}

.overflow-scroll-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 530px;
  height: 140px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.001),
    white
  ); /* transparent keyword is broken in Safari */
  pointer-events: none;
}

.overflow-scroll-gradient__scroller {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 530px;
  height: 140px;
  padding: 15px;
  line-height: 1.2;
}












