// ================================
// PROFILE#index
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

// ================================
//  PROFILE#show
//  ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

.profile-about,
.profile-moments,
.profile-name,
.profile-topsongs {
  font-family: Inconsolata;
  text-transform: uppercase;
  background-color: yellow;
}

.container-moment-profile {
  width: 380px;
  height: 340px;
  overflow-y: scroll;
  overflow-x:hidden;
 }

.carousel-cell {
  width: 300px;
  height: 80px;
  margin-right: 20px;
}

// ================================
// EVENTS#index
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

.visor-profile {
  position: absolute;
  width: 95%;
  height: 73%;
  top: 18%;
  left: 3%;
  border: 5px solid yellow;
}

.visor-index-events {
  position: absolute;
  width: 95%;
  height: 73%;
  top: 18%;
  margin-left: 100px;
  margin-bottom: 100px;
  overflow-y: scroll;
  padding-top: 100px;
}

// ==================================
//  EVENT#show
//  ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

.event-details {
  display: flex;
  position: absolute;
  right: 38px;
  top: 150px;
  z-index: 10;

  .event-info {
    padding: 20px 20px;
    padding: 0px 20px;
    height: 180px;
    width: 720px;
    background: rgb(74, 39, 183);
    backdrop-filter: blur(15px);
  }
}

.event-name {
  position: absolute;
  left: 90px;
  top: 60px;
  font-family: Scada;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  color: #FFFFFF;
  background-color: #D4E157;
  padding: 10px;
}

.embeded-player {

  height: 620px;
  z-index: 10px;
}

//  >=====================================
//  Shared components PROFILE-EVENT
//  ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

.overflow-scroll__scroller {
  overflow-y: scroll;
  width: 700px;
  height: 90px;
  line-height: 1.3;
  color: black;
  text-align: right;
}

.overflow-scroll__scroller-profile-moment {
  overflow-y: scroll;
  width: 100px;
  height: 50px;
  line-height: 1.5;
  color: black;
  text-align: center;
}

// ================================
// FORM#new
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅
.sf-event-new {
  position: absolute;
  background-color: black;
  width: 80%;
  height: 71%;
  left: 8%;
  top: 20%;
  margin-bottom: 100px;
  overflow-y: scroll;
  overflow-x:hidden;
}

// =======================================================
//                                       MEDIA QUERies
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

// @media (prefers-color-scheme: dark) {
//   img {
//     opacity: .75;
//     transition: opacity .5s ease-in-out;
//   }
//   img:hover {
//     opacity: 1;
//   }
// }

// :root {
//   --body-bg: #fafafa;
//   --body-color: #555;
//   --link-color: #222;
//   --link-color-hover: #000;
// }
// @media (prefers-color-scheme: dark) {
//   :root {
//     --body-bg: #212529;
//     --body-color: #6c757d;
//     --link-color: #dee2e6;
//     --link-color-hover: #fff;
//   }
// }

// ======================================================
//                              GRANIM.JS:GRADIENT_CANVAS
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

// .canvas-interactive-wrapper {
//     position: relative;
//     height: 300px;
//     text-align: center;
// }

// .canvas-interactive-wrapper canvas {
//     position: absolute;
//     display: block;
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

// ======================================================
//                              Recyclable COmponents
// ˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅

// .event-banner {
//   display: -webkit-box;
//   display: flex;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   padding: 50px;
//   left: -80px;
//   position: relative;
//   width: 105%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 306px;
// }



