<div class="button-con">
  <label for='cb1'>
    <%= image_tag 'icon-sun.svg', class:'dayIcon' %>
  </label>
  <input class='toggle' id='cb1' type='checkbox'>
  <label class='toggle-button' for='cb1'></label>
  <label for='cb1'>
    <%= image_tag 'icon-moon.svg', class:'nightIcon' %>
  </label>
</div>


