<!-- _sidebar.html.erb -->

<div class="ui sidebar visible vertical left inverted menu">
  <a class="item">
    <i class="home icon"></i>
    Deyzboard
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Events
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Moments
  </a>
</div>
