<<<<<<< HEAD
<div class="title-container">
  <div class="title-page">
    <h1 class="neon" data-text="Edit event" contenteditable></h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
    <%= render 'form' %>
  </div>
=======
<div class="">
  <p class="hover-underline-animation">Edit event</p>
  <%= render 'form' %>
>>>>>>> master
</div>
