<div class="layout__edit__create-page">
  <div class="header-container">
    <h1 class="title-header">Events</h1>
    <p class="hover-underline-animation"></p>
  </div>
</div>
<div class="layout__index-page">
  <div class="visor-list"><div class="visor-header-index"></div>
  <div class="visor-musicplayer">
    <%= image_tag 'icon-play-yellow.svg', class: 'play-yellow' %>
  </div>
  <div class="visor-particles"></div>
</div>
