<div class="title-container">
  <div class="title-page">
    <h1 class="neon" data-text="Create Event" contenteditable></h1>
    <div class="gradient"></div>
    <div class="bg-spotlight-blur"></div>
    <div class="spotlight"></div>
    <%= render 'form' %>
  </div>
</div>
