<h1>Deyzboard</h1>
<p>Welcome to your Deyz navigator</p>


<!-- These links are for the sidebar in order to be able to navigate on the dashboards -->

<p>
  <%= link_to "See events", events_path %>

  <!-- moments that are displayed should be yours and the ones that have been shared directly to you -->
</p>

<!-- The notifications part - display new moments that have been shared t you -->

<!-- The new section - display new events, new friends that have joined -->

<!-- create new event button -->

<%= link_to "Create", new_event_path %>
