
<div class="title-page">
  <h1 class="neon" data-text="Welcome!"></h1>
  <div class="gradient"></div>
  <div class="spotlight"></div>
</div>

<%# @events.each do |e| %>
  <%#= link_to e.title, event_path(e) %>
<!--   <%#= e.description %> -->
<%# end%>

