
<div class="header-container">
  <h1 class="title-header">Dashboard</h1>
  <p class="hover-underline-animation"></p>
</div>

<%# @events.each do |e| %>
  <%#= link_to e.title, event_path(e) %>
<!--   <%#= e.description %> -->
<%# end%>

