// _button.scss

// ===== ANIMATED_BUTTONS ===== //

// ***** Gradient_tracker_cursor ***** //
.mouse-cursor-gradient-tracking {
  position: relative;
  background: #623BA6;
  padding: 0.5rem 1rem;
  font-family: Rationale;
  font-size: 1.2rem;
  width: 167px;
  height: 57;
  background: #623BA6;
  box-shadow: 10px 10px 10px rgba(126, 116, 116, 0.25);
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.mouse-cursor-gradient-tracking span {
  position: relative;
}
.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #F1B042, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.9s ease-out;
}
.mouse-cursor-gradient-tracking:hover::before {
  --size: 200px;
}
// ===== UIKIT_BUTTONS ===== //

// ***** SECONDARY ***** //
