// .event-card {
//   background-color: #6DC142;
//   margin: 30px;
//   padding: 20px;
//   border-radius: 5px;
//   display: flex;
//   box-shadow: 10px 10px 10px rgba(126, 117, 117, 0.25);
//   justify-content: space-between;
//   align-items: center;
//   a {
//     color: white;
//     &:hover {
//       color: rgb(220, 220, 220);
//     }
//   }
// }

.event-card {
  background: linear-gradient(to right, #f79d00, #64f38c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  align-items: center;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    &:hover {
     color: rgb(200, 220, 220);
      }
  }
}
.event-card:hover,
.event-card:focus,
.event-card:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.1);
}


.profile-event {
  padding: 50px;
  height: 170px;
  width: 270px;
  background-size: cover;
  border-radius: 5px;
  a {
    color: white;
    font-weight: bold;
    font-size: 20px
  }
}

.profile-moment {
  background: linear-gradient(to right, #fffbd5, #b20a2c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px;
  height: 170px;
  width: 270px;
  border-radius: 3px;
  a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    &:hover {
     color: rgb(200, 220, 220);
      }
  }
}
