
// ======================================================= //
// >>>>>>>>>>>>>>>>>>>   EVENT_CARD#SHOW   <<<<<<<<<<  //
// ====================================================== //

.profile-event {
  padding: 10px;
  height: 170px;
  width: 270px;
  background-size: cover;
  border-radius: 5px;
  a {
    color: white;
   &:hover {
      color: rgb(220, 220, 220);
    }
  }
}
// ======================================================= //
// >>>>>>>>>>>>>>>>>>>   PROFILE_CARD#INDEX   <<<<<<<<<<  //
// ====================================================== //

.profile-card {
  display: flex;
  align-items: flex-start;
  font-weight: thin;
  font-family: Inconsolata;
  font-size: 15px;
  transform: perspective(-10px) translateZ(4);
  transition-duration: 0.3s;
  transition-property: transform;
  img {
      margin-right: 10px;
      &:hover {
        .profile-card {
         transform: scale(1.2);
      }
    }
  }
}


.mymoment {
  background: #0076BB;
  box-shadow: 0px 50px 10px rgba(0, 0, 0, 0.25);
  height: 300px;
  overflow: hidden;
  border: 5px solid rgba(254, 255, 3, 0.9);
}
.mytitle {

}
.myparagraph {
  font-family: 'Dosis', sans-serif;
  position: absolute;
  bottom: 0%;
  left:0%;
  color: black;
  background-color: rgba(254, 255, 3, 1);
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  text-weight: bold;
  padding: 10px 0px;
}
.mysubtitle {

}
.mylink {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
  line-height: 1em;
  letter-spacing: 2px;
  background-color: rgba(0,0,0, 0.9);
  padding: 2%;
  z-index: 100;
}

.myavatar {
  position: absolute;
  top: 0%;
  right: 0%;
}







