// ======================================================= //
// >>>>>>>>>>>>>>>>>>>   EVENT_CARD#index   <<<<<<<<<<<<  //
// ====================================================== //
.c-cntnr {
  border: 1px solid #fff;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  overflow: hidden;
}

.c-cntnr:hover,
.c-cntnr:focus,
.c-cntnr:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: flip(1.1);
}

#c-img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  overflow: hidden;
  border: 1px solid #fff;
  z-index: 0;
}

// #c-time {
//   background-color: #6dc141;
//   position: absolute;
//   top: 25%;
//   left: 25%;
//   width: 50%;
//   height: 30%;
//   object-fit: cover;
//   border: 1px solid white;
//   text-align: center;

// }
#c-header {
  text-transform: uppercase;
  flex-wrap: wrap;
  font-weight: 400;
  letter-spacing: 0.3em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position:absolute;
  top: 16%;
  right: 16%;
  z-index: 10;
  background-color: rgba(232, 60, 104, 0.4);
  text-align: center;
  text-rendering: optimizeLegibility;
}
// .c-description {
//   text-overflow: ellipsis;
//   letter-spacing: 0.2em;
//   font-size: 1em;
//   position:absolute;
//   top: 70%;
//   z-index: 20;
//   text-align: center;
//   text-rendering: optimizeLegibility;
// }
#c-link {
  font-size: 10px;
  text-transform: uppercase;
  z-index: 30px;
}

// ======================================================= //
// >>>>>>>>>>>>>>>>>>>   EVENT_CARD#SHOW   <<<<<<<<<<  //
// ====================================================== //

.profile-event {
  padding: 10px;
  height: 170px;
  width: 270px;
  background-size: cover;
  border-radius: 5px;
  a {
    color: white;
   &:hover {
      color: rgb(220, 220, 220);
    }
  }
}
// ======================================================= //
// >>>>>>>>>>>>>>>>>>>   PROFILE_CARD#INDEX   <<<<<<<<<<  //
// ====================================================== //

.profile-link {
  position: relative;
  color: white;
  justify-content: end;
  margin-right: -100px;
  .profile-card {
    display: flex;
    align-items: flex-start;
    font-weight: thin;
    font-size: 15px;
    transform: perspective(-10px) translateZ(4);
    transition-duration: 0.3s;
    transition-property: transform;
    img {
      margin-right: 10px;
    }
  }
  &:hover {
    .profile-card {
      transform: scale(1.2);
    }
  }
}

// ======================================================= //
// >>>>>>>>>>>>>>>>>>   PROFILE_MOMENT_CARD   <<<<<<<<<  //
// ====================================================== //

.profile-moment {
  background: white;
  padding: 5px;
  height: 5%;
  width: 20%;
  border-radius: 3px;
  font-size: 14px;
  a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    &:hover {
     color: rgb(200, 220, 220);
      }
  }
}

.moment-show-event-card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  height: 100px;
  width: 200px;
  border-radius: 3px;
  h3 {
    font-weight: bold;
    color: black;
    font-family: Inconsolata;

  }
}
