// _icon.scss

.logout {
}

.icon-action,
.icon-index {
  // transform: rotate(90deg);
position: relative;
top: 200px;
width: 150px;
left: 3%;
font-size: 20px;
padding-bottom: 40px;
color: #5C39B4;
}
.icon-text {
  position: relative;
  top: 100px;
  font: 14px;
  width: 150px;
}

.icon-home {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 40px;
  height: 40px;
}
