// _icon.scss

.icon-action,
.icon-index {
  // transform: rotate(90deg);
font-size: 15px;
color: #118F8A;
}
.icon-text {
  position: relative;
  top: 100px;
  font: 14px;
  width: 150px;
}

.logout,
.icon-edit,
.icon-create {
  color:#118F8A;
  width: 30px;
  height: 30px;
}

// <button href="#toggle-animation"
//   class="avatar-navbar"
//   type="button"
//   uk-toggle="target: #toggle-animation;
//   animation: uk-animation-fade">
// </button>
// <div id="toggle-animation"
//      class="uk-card uk-card-default uk-card-body uk-margin-small">Animation
// </div>
