.sidebar {
  background-color: #0E1732;
  display: flex;
  padding-top: 25px;
  align-items: flex-start;
  justify-content: center;
}

.sidebar-items,
.visor-side-column-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 25px;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}


