.sidebar {
  background-color: #0E1732;
  display: flex;
  padding-top: 25px;
  align-items: flex-start;
  justify-content: center;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

