// _toggle.scss
.switch {
  margin-top: 100px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
  background-color: rgba(241, 176, 66, 1);
  transition: all 0.3s;
}

.switch::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 15px;
  background-color: #F7F5EE;
  left: 0;
  transition: all 0.4s;
}

input[type='checkbox']:checked + .switch::after {
  transform: translateX(35px);
}

input[type='checkbox']:checked + .switch {
  background-color: #4A27B7;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
