// Graphical variables
// @import "config/fonts";
// @import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// import UI KIT
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";
@import "uikit/uikit-theme.scss";

// Semantic UI
@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import 'semantic-ui';
@import "config/layout";

// My Librarycommons
@import "config/common";
@import "components/sidebar";
@import "components/button";
@import "components/underline";
@import "components/componentscollection";
@import "components/header";
