<div class="">
  <p class="hover-underline-animation">Moments</p>
</div>
  <!-- display your moments and the moments that have been directly shared to you -->

<% @moments.each do |moment| %>
  <%= moment.user.username %>
  <%#= moment.profile.profile_avatar %>
  <%= moment.content %>
<% end %>
