<!-- display your moments and the moments that have been directly shared to you -->
<div class="header-container">
  <h1 class="title-header">Moments</h1>
  <p class="hover-underline-animation"></p>
</div>

  <% @moments.each do |moment| %>
    <%= moment.user.username %>
    <%= moment.content %> <!-- should be username and avatar -->
  <% end %>
